<% provide(:title, 'Under Construction') %>
<!doctype html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
</head>
<title>We're Launching Soon</title>

<body>
  <% flash.each do |key, value| %>
        <div class="notification notice closeable alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div id="container">
  <div id="page-content">
      <div id="left-grouping">
        <%= image_tag('logo', id: "logo") %>
        <div class="copy">Guven business group &copy; 2019 All Rights Reserved</div>
      </div>
      <div id="right-grouping">
        <h1>Your Success Begins With Us</h1>
        <h2>we're lanching soon</h2>
        <div class="email-us">
          <p>Ready to start your growth journey?</p>
          <%= form_tag '/notify' do %>
            <%= email_field_tag 'email', '', :placeholder=>"Enter your email here" %>
            <%= submit_tag "submit", :value=>"Notify Me!", :id=>"notify" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
<%= debug(params) if Rails.env.development? %>