<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guvenbusinessgroup | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <%= favicon_link_tag 'favicon.png', rel: 'icon'%>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon'%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <% flash.each do |key, value| %>
        <div id="flash" class="flash-<%= key %>"><%= value %></div>
      <% end %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer'%>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>
